.login #loginform {
	background: rgba(0,0,0,0.7) !important;
	color: #fff;
}

.login h1 a {
	background-image: url('../images/logo.svg') !important;
    width: auto;
    background-size: contain;
    height: 80px;
}

.login #backtoblog a, .login #nav a {
	color: white;
}

.login #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover {
	color: #f04b23;
}

body.login {
  background: #fdfdfd url("../images/wp-login-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
